.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #273479;
  position: absolute;
  top:0;
  width: 100%;
}

.logo img{
  width: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.navbar > a{
  text-decoration: none;
  color: azure;
  font-weight: 700;
  font-size: 28px;
  font-family: serif
}

.navbar ul{
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navbar ul li{
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px
}
.navbar ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: darkblue;

}